body {
  font-size: 16px;
}

#wrap {
  position: relative;
}

.circle {
  width: 100px;
  height: 100px;
  border: solid 25px;
  border-color: green;
  border-radius: 50%;
}

.target {
  width: 0px;
  height: 0px;
  margin: 20px;
  border: solid 30px;
  border-color: green;
  border-radius: 50%;
}

header {
  display: inline-block;
  vertical-align: top;
  left: 0px;
  width: 200px;
}

.navItem {
  background: green;
  width: 150px;
  margin-top: 5px;
  padding: 5px;
  font-size: 120%;
  transition: 2s;
}

.navItem:hover {
  background: yellow;
}

article {
  display: inline-block;
  vertical-align: top;
  margin-left: 2%;
  margin-right: 2%;
  width: 65%;
  max-width: 700px;
  min-width: 400px;
}

.navigation {
  display: inline-block;
  vertical-align: top;
  right: 0px;
  max-width: 150px;
}
