body {
  font-size: 16px;
  font-family: 'Source Sans Pro', "Helvectica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
}

#wrap {
  position: relative;
}

h1 {
}
.circle {
  width: 100px;
  height: 100px;
  border: solid 25px;
  border-color: #08A64B;
  border-radius: 50%;
}

.target {
  width: 0px;
  height: 0px;
  margin: 20px;
  border: solid 30px;
  border-color: #08A64B;
  border-radius: 50%;
}

header {
  display: inline-block;
  vertical-align: top;
  left: 0px;
  width: 200px;
}

.navItem {
  background: #08A64B;
  width: 150px;
  margin-top: 5px;
  padding: 5px;
  font-size: 120%;
  transition: 2s;
}

.navItem:hover {
  background: #096235;
}

article {
  display: inline-block;
  vertical-align: top;
  margin-left: 2%;
  margin-right: 2%;
  width: 65%;
  max-width: 700px;
  min-width: 400px;
}

.title {
  a {
    color: #152C40;
    text-decoration: none;
  }
}

section.navigation {
  display: inline-block;
  vertical-align: top;
  right: 0px;
  max-width: 150px;
}

section {
  p {
    font-size: 16px;
    line-height: 1.5;
  }
}

.nav {
  a {
    color: white;
    text-decoration: none;
  }
}
.postNav {
  background: #421E3C;
  a {
    padding: 5px;
  }
}
